In [1]:
# Data Exploration and Preprocessing

import pandas as pd
data = pd.read_csv(r"C:\Users\ACER\Downloads\adult_with_headers.csv")
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
summary_stats = data.describe(include='all')
data_info = data.info()
summary_stats, data_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

(                 age workclass        fnlwgt education  education_num  \
 count   32561.000000     32561  3.256100e+04     32561   32561.000000
 unique           NaN         9           NaN        16            NaN
 top              NaN   Private           NaN   HS-grad            NaN
 freq             NaN     22696           NaN     10501            NaN
 mean       38.581647       NaN  1.897784e+05       NaN      10.080679
 std        13.640433       NaN  1.055500e+05       NaN       2.572720
 min        17.000000       NaN  1.228500e+04       NaN       1.000000
 25%        28.000000       NaN  1.178270e+05       NaN       9.000000
 50%        37.000000       NaN  1.783560e+05       NaN      10.000000
 75%        48.000000       NaN  2.370510e+05       NaN      12.000000
 max        90.000000       NaN  1.484705e+06       NaN      16.000000

              marital_status       occupation relationship    race    sex  \
 count                 32561            32561        32561   32561  32561
 unique                    7               15            6       5      2
 top      Married-civ-spouse   Prof-specialty      Husband   White   Male
 freq                  14976             4140        13193   27816  21790
 mean                    NaN              NaN          NaN     NaN    NaN
 std                     NaN              NaN          NaN     NaN    NaN
 min                     NaN              NaN          NaN     NaN    NaN
 25%                     NaN              NaN          NaN     NaN    NaN
 50%                     NaN              NaN          NaN     NaN    NaN
 75%                     NaN              NaN          NaN     NaN    NaN
 max                     NaN              NaN          NaN     NaN    NaN

         capital_gain  capital_loss  hours_per_week  native_country  income
 count   32561.000000  32561.000000    32561.000000           32561   32561
 unique           NaN           NaN             NaN              42       2
 top              NaN           NaN             NaN   United-States   <=50K
 freq             NaN           NaN             NaN           29170   24720
 mean     1077.648844     87.303830       40.437456             NaN     NaN
 std      7385.292085    402.960219       12.347429             NaN     NaN
 min         0.000000      0.000000        1.000000             NaN     NaN
 25%         0.000000      0.000000       40.000000             NaN     NaN
 50%         0.000000      0.000000       40.000000             NaN     NaN
 75%         0.000000      0.000000       45.000000             NaN     NaN
 max     99999.000000   4356.000000       99.000000             NaN     NaN  ,
 None)

In [3]:
print(data.describe(include='all'))
print(data.info())

                 age workclass        fnlwgt education  education_num  \
count   32561.000000     32561  3.256100e+04     32561   32561.000000
unique           NaN         9           NaN        16            NaN
top              NaN   Private           NaN   HS-grad            NaN
freq             NaN     22696           NaN     10501            NaN
mean       38.581647       NaN  1.897784e+05       NaN      10.080679
std        13.640433       NaN  1.055500e+05       NaN       2.572720
min        17.000000       NaN  1.228500e+04       NaN       1.000000
25%        28.000000       NaN  1.178270e+05       NaN       9.000000
50%        37.000000       NaN  1.783560e+05       NaN      10.000000
75%        48.000000       NaN  2.370510e+05       NaN      12.000000
max        90.000000       NaN  1.484705e+06       NaN      16.000000

             marital_status       occupation relationship    race    sex  \
count                 32561            32561        32561   32561  32561
unique                    7               15            6       5      2
top      Married-civ-spouse   Prof-specialty      Husband   White   Male
freq                  14976             4140        13193   27816  21790
mean                    NaN              NaN          NaN     NaN    NaN
std                     NaN              NaN          NaN     NaN    NaN
min                     NaN              NaN          NaN     NaN    NaN
25%                     NaN              NaN          NaN     NaN    NaN
50%                     NaN              NaN          NaN     NaN    NaN
75%                     NaN              NaN          NaN     NaN    NaN
max                     NaN              NaN          NaN     NaN    NaN

        capital_gain  capital_loss  hours_per_week  native_country  income
count   32561.000000  32561.000000    32561.000000           32561   32561
unique           NaN           NaN             NaN              42       2
top              NaN           NaN             NaN   United-States   <=50K
freq             NaN           NaN             NaN           29170   24720
mean     1077.648844     87.303830       40.437456             NaN     NaN
std      7385.292085    402.960219       12.347429             NaN     NaN
min         0.000000      0.000000        1.000000             NaN     NaN
25%         0.000000      0.000000       40.000000             NaN     NaN
50%         0.000000      0.000000       40.000000             NaN     NaN
75%         0.000000      0.000000       45.000000             NaN     NaN
max     99999.000000   4356.000000       99.000000             NaN     NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [4]:
missing_values = data.isnull().sum()
print(missing_values)

for column in data.columns:
    if data[column].isnull().sum() > 0:
        if data[column].dtype == 'object':
            data[column].fillna(data[column].mode()[0], inplace=True)
        else:
            data[column].fillna(data[column].mean(), inplace=True)

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [5]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler_standard = StandardScaler()
data_standard_scaled = data.copy()
data_standard_scaled[data_standard_scaled.select_dtypes(include=['int64', 'float64']).columns] = scaler_standard.fit_transform(data_standard_scaled.select_dtypes(include=['int64', 'float64']))
data_standard_scaled

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0.030671,State-gov,-1.063611,Bachelors,1.134739,Never-married,Adm-clerical,Not-in-family,White,Male,0.148453,-0.21666,-0.035429,United-States,<=50K
1,0.837109,Self-emp-not-inc,-1.008707,Bachelors,1.134739,Married-civ-spouse,Exec-managerial,Husband,White,Male,-0.145920,-0.21666,-2.222153,United-States,<=50K
2,-0.042642,Private,0.245079,HS-grad,-0.420060,Divorced,Handlers-cleaners,Not-in-family,White,Male,-0.145920,-0.21666,-0.035429,United-States,<=50K
3,1.057047,Private,0.425801,11th,-1.197459,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,-0.145920,-0.21666,-0.035429,United-States,<=50K
4,-0.775768,Private,1.408176,Bachelors,1.134739,Married-civ-spouse,Prof-specialty,Wife,Black,Female,-0.145920,-0.21666,-0.035429,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,Private,0.639741,Assoc-acdm,0.746039,Married-civ-spouse,Tech-support,Wife,White,Female,-0.145920,-0.21666,-0.197409,United-States,<=50K
32557,0.103983,Private,-0.335433,HS-grad,-0.420060,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,-0.145920,-0.21666,-0.035429,United-States,>50K
32558,1.423610,Private,-0.358777,HS-grad,-0.420060,Widowed,Adm-clerical,Unmarried,White,Female,-0.145920,-0.21666,-0.035429,United-States,<=50K
32559,-1.215643,Private,0.110960,HS-grad,-0.420060,Never-married,Adm-clerical,Own-child,White,Male,-0.145920,-0.21666,-1.655225,United-States,<=50K
32560,0.983734,Self-emp-inc,0.929893,HS-grad,-0.420060,Married-civ-spouse,Exec-managerial,Wife,White,Female,1.888424,-0.21666,-0.035429,United-States,>50K

In [6]:
scaler_minmax = MinMaxScaler()
data_minmax_scaled = data.copy()
data_minmax_scaled[data_minmax_scaled.select_dtypes(include=['int64', 'float64']).columns] = scaler_minmax.fit_transform(data_minmax_scaled.select_dtypes(include=['int64', 'float64']))
data_minmax_scaled

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0.301370,State-gov,0.044302,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,White,Male,0.021740,0.0,0.397959,United-States,<=50K
1,0.452055,Self-emp-not-inc,0.048238,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,0.0,0.122449,United-States,<=50K
2,0.287671,Private,0.138113,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.000000,0.0,0.397959,United-States,<=50K
3,0.493151,Private,0.151068,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.000000,0.0,0.397959,United-States,<=50K
4,0.150685,Private,0.221488,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.000000,0.0,0.397959,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,Private,0.166404,Assoc-acdm,0.733333,Married-civ-spouse,Tech-support,Wife,White,Female,0.000000,0.0,0.377551,United-States,<=50K
32557,0.315068,Private,0.096500,HS-grad,0.533333,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.000000,0.0,0.397959,United-States,>50K
32558,0.561644,Private,0.094827,HS-grad,0.533333,Widowed,Adm-clerical,Unmarried,White,Female,0.000000,0.0,0.397959,United-States,<=50K
32559,0.068493,Private,0.128499,HS-grad,0.533333,Never-married,Adm-clerical,Own-child,White,Male,0.000000,0.0,0.193878,United-States,<=50K
32560,0.479452,Self-emp-inc,0.187203,HS-grad,0.533333,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.150242,0.0,0.397959,United-States,>50K

In [7]:
# Encoding Techniques

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
categorical_columns = [col for col in data.select_dtypes(include=['object']).columns if data[col].nunique() < 5]
data_one_hot_encoded = pd.get_dummies(data, columns=categorical_columns)
data_one_hot_encoded

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,2174,0,40,United-States,False,True,True,False
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,13,United-States,False,True,True,False
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,40,United-States,False,True,True,False
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,40,United-States,False,True,True,False
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,40,Cuba,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,0,0,38,United-States,True,False,True,False
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,0,0,40,United-States,False,True,False,True
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,0,0,40,United-States,True,False,True,False
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,0,0,20,United-States,False,True,True,False
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,15024,0,40,United-States,True,False,False,True

In [8]:
label_encoder = LabelEncoder()
for col in data.select_dtypes(include=['object']).columns:
    if col not in categorical_columns:
        data[col] = label_encoder.fit_transform(data[col])
label_encoder

LabelEncoder()

In [9]:
# Example of creating new features
data['hours_per_week_squared'] = data['hours_per_week'] ** 2
data['age_income_ratio'] = data['age'] / (data['capital_gain'] + 1)
data['hours_per_week_squared']

0        1600
1         169
2        1600
3        1600
4        1600
         ...
32556    1444
32557    1600
32558    1600
32559     400
32560    1600
Name: hours_per_week_squared, Length: 32561, dtype: int64

In [10]:
data['age_income_ratio']

0         0.017931
1        50.000000
2        38.000000
3        53.000000
4        28.000000
           ...
32556    27.000000
32557    40.000000
32558    58.000000
32559    22.000000
32560     0.003461
Name: age_income_ratio, Length: 32561, dtype: float64

In [11]:
import numpy as np
data['capital_gain'] = np.log1p(data['capital_gain'])
data['capital_gain']

0        7.684784
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
32556    0.000000
32557    0.000000
32558    0.000000
32559    0.000000
32560    9.617471
Name: capital_gain, Length: 32561, dtype: float64

In [12]:
# Feature Selection

from sklearn.ensemble import IsolationForest
iso_forest = IsolationForest(contamination=0.1)
outliers = iso_forest.fit_predict(data.select_dtypes(include=['int64', 'float64']))
data_no_outliers = data[outliers == 1]
iso_forest

C:\Users\ACER\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

IsolationForest(contamination=0.1)

In [13]:
outliers

array([1, 1, 1, ..., 1, 1, 1])

In [14]:
data_no_outliers

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,hours_per_week_squared,age_income_ratio
0,39,7,77516,9,13,4,1,1,4,Male,7.684784,0,40,39,<=50K,1600,0.017931
1,50,6,83311,9,13,2,4,0,4,Male,0.000000,0,13,39,<=50K,169,50.000000
2,38,4,215646,11,9,0,6,1,4,Male,0.000000,0,40,39,<=50K,1600,38.000000
3,53,4,234721,1,7,2,6,0,2,Male,0.000000,0,40,39,<=50K,1600,53.000000
4,28,4,338409,9,13,2,10,5,2,Female,0.000000,0,40,5,<=50K,1600,28.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,4,Female,0.000000,0,38,39,<=50K,1444,27.000000
32557,40,4,154374,11,9,2,7,0,4,Male,0.000000,0,40,39,>50K,1600,40.000000
32558,58,4,151910,11,9,6,1,4,4,Female,0.000000,0,40,39,<=50K,1600,58.000000
32559,22,4,201490,11,9,4,1,3,4,Male,0.000000,0,20,39,<=50K,400,22.000000
32560,52,5,287927,11,9,2,4,5,4,Female,9.617471,0,40,39,>50K,1600,0.003461

In [18]:
!pip install ppscore

Requirement already satisfied: ppscore in c:\users\acer\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\acer\anaconda3\lib\site-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\acer\anaconda3\lib\site-packages (from ppscore) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\acer\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\acer\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)

In [16]:
# Apply PPS (Predictive Power Score):

import ppscore as pps
pps_matrix = pps.matrix(data)
pps_matrix

ContextualVersionConflict: (pandas 2.1.4 (c:\users\acer\anaconda3\lib\site-packages), Requirement.parse('pandas<2.0.0,>=1.0.0'), {'ppscore'})

In [ ]:
correlation_matrix = data.corr()
correlation_matrix